<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Transgalatic Library Adventure</title>
    <meta name="description" content="An interactive theatre experiement">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2Ffavicon.png?v=1582805891417" type="image/png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/socket.io/socket.io.js"></script>
  </head>
  <body>
    <div id="curtainContainer">
<!--       <img src="https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FcurtainsTrans.png?v=1589830409802" alt="curtain" id="curtain"> -->
    </div>
    <div id="stars"></div>
    <div id="wait">
      <h2 id="fin">The Robot and Bob<br>Culture Perth & Kinross<br>and LEADER<br>present</h2>
    </div>
    <div id="title">
      <img src="https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FtransTitle.png?v=1587498692297"
           alt="The Robot and Bob's Transgalatic Library Aventure">
    </div>
    <audio id="music" type="audio/mpeg" src="https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FtitleMusic.mp3?v=1587583758089"></audio>
    <script src="/scripts/client.js"></script>
  </body>
</html>
