<!DOCTYPE html>
<html>
  <head>
    <title>Soutar</title>
    <link rel="stylesheet" type="text/css" href="styles/chalcedon.css">
    <link id="favicon" rel="icon" href="https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2Ffavicon.png?v=1582805891417" type="image/png">
  </head>
  <body>
    <audio id="soutarVoice"></audio>
    <script src="/scripts/three.min.js"></script>
    <script src="https://cdn.rawgit.com/mrdoob/three.js/master/examples/js/loaders/GLTFLoader.js"></script>
    <script>
      let scene, camera, renderer, soutar, sphere, mixer, soutarAnimation, spaceSound, soutarSpeech;
      let soutarScripts = [];
      let speaking = false;
      let add = 0.0005; 
      
      const soutarVoice = document.getElementById("soutarVoice");
      
      const onWindowResize = _=> {
        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();
        renderer.setSize(window.innerWidth, window.innerHeight);
        render();
      }
      
      const init = _=> {
        scene = new THREE.Scene();
        clock = new THREE.Clock();
        loadScripts();
        loadAudio();
        initCamera();
        initRenderer();
        initLights();
        initSpaceSound();
        initSphere();
        initSoutar();
      }
      
      const loadScripts = _=> {
        soutarScripts.push("https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarAct0.mp3?v=1587997148180");
        soutarScripts.push("https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarAct1.mp3?v=1588073725288");
        soutarScripts.push("https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarAct2.mp3?v=1588073747248");
        soutarScripts.push("https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarAct3.mp3?v=1587997189139");
        soutarScripts.push("https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarAct4.mp3?v=1587997201355");
      }
      
      const loadAudio = _=> {
        if(soutarVoice.canPlayType("audio/mpeg")) {
          soutarVoice.type = "audio/mpeg";
          soutarVoice.src = soutarScripts[localStorage.act];
        }
      }
          
      const initCamera = _=> {
        camera = new THREE.PerspectiveCamera( 25, window.innerWidth / window.innerHeight, 1, 20000 );
        camera.position.set( 1, 1, 20 );
      }

      const initRenderer = _=> {
        renderer = new THREE.WebGLRenderer({ alpha: true });
        renderer.outputEncoding = THREE.sRGBEncoding;
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize(window.innerWidth, window.innerHeight);
        document.body.appendChild(renderer.domElement);
      }
     
      const initLights = _=> {
        const ambientLight = new THREE.AmbientLight( 0x404040 );
        scene.add( ambientLight );

        const directionalLight = new THREE.DirectionalLight( 0xffffff , 2);
        directionalLight.position.set( 0, 1, 1 ).normalize();
        scene.add( directionalLight );
      }
      
      const initSpaceSound = _=> {
        const spaceListener = new THREE.AudioListener();
        camera.add(spaceListener);
        spaceSound = new THREE.Audio(spaceListener);
        const audioLoader = new THREE.AudioLoader();
        try {
            audioLoader.load('https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FspaceNoise.mp3?v=1583776345214', buffer => {
            spaceSound.setBuffer(buffer);
            spaceSound.setLoop(true);
            spaceSound.setVolume(0.5);
            spaceSound.play();
          });
        }catch(err) {
          console.log(err.name + ': ' + err.message);
        }
      }
      
      const soutarSpeak = _=> {
        speaking = true;
        soutarVoice.play();
        soutarVoice.addEventListener('ended', _ => {
          speaking = false;
          setTimeout(ufoReturn, 3000);
        });
      }
      
      const initSphere = _=> {
          let geometry = new THREE.SphereGeometry(4, 8, 8);
          let material = new THREE.MeshBasicMaterial({color: 0xcc00ff, wireframe: true});
          sphere = new THREE.Mesh(geometry, material);
          sphere.position.x = 1.17;
          sphere.position.y = 1;
          scene.add(sphere);
      }
      
      const initSoutar = _=> {
        const loader = new THREE.GLTFLoader();
        loader.load( 'https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2FsoutarNEW_ani8.glb?v=1584703887151', gltf => {              
          soutar = gltf.scene;
          console.log(gltf);
          soutar.scale.set( 1, 1, 1 );
          soutar.position.x = 1;				   
          soutar.position.y = -2.5;				    
          soutar.position.z = 0;	
          mixer = new THREE.AnimationMixer(soutar);
          console.log(mixer);
          soutarAnimation = mixer.clipAction(gltf.animations[0]);
          console.log(soutarAnimation);
          scene.add(soutar);
          setTimeout(soutarSpeak, 1000);
        }, xhr => {
          console.log("loaded:" + xhr.loaded + ", total: " + xhr.total);
        }, err => {
          console.log(err.name + ": " + err.message);
        });
      }
        
      const ufoReturn = _=> {
        localStorage.act++;
        location.assign("https://transgalatic-library-adventure.glitch.me/ufo");
      }
      
      const render = _=> {
        renderer.render( scene, camera );
      }
      
      const animate = _=> {
        requestAnimationFrame( animate );
        if(soutar) {
          if(speaking) {
            soutarAnimation.play();
            soutar.rotation.y += add;
            if(soutar.rotation.y <= -0.14 || soutar.rotation.y >= 0.14) add *= -1;
          }else {
            soutarAnimation.stop();
          }
        }
        sphere.rotation.y += 0.01;
        let delta = clock.getDelta();
        if(mixer) mixer.update(delta);
        render();
      }
      
      init();
      animate();
      window.addEventListener("resize", onWindowResize, false);
    </script>
  </body>
</html>
