html{
  font-family: "Arial Black", Gadget, sans-serif;
  color: #ffd200;
}

body { 
  background: black;
  cursor: none;
  height: 100%;
  width: 100%;
}

#curtain {
  position: absolute;
  width: 100%;
  display: block;
/*   bottom: 100%; */
  z-index: 100;
}

#stars {
  opacity: 0;
  background: #000 url(https://cdn.glitch.com/8199502f-e529-4aa4-ba55-e8b0a29c18a5%2Fstars2.png?v=1582806172207)
  repeat top center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

#wait {
  opacity: 0;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

#title {
  opacity: 0;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

h1 { 
  font-size: 6em;
}

h2 {
    font-size: 3em;
}

